:root {
    --color : #ffd000;
    --color-gelap : #ff8800;
    --font-color : #252525;
    --bg: #35180e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* bagian navbar */

.navbar .logo {
    width: 7rem;
    max-width: 7rem;
}

.navbar {
    background-color: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.navbar_list {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    transition: 0.3s;
}

.navbar_list a:hover {
    color: var(--color);
}

.navbar_list a::after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--color);
    transform: scaleX(0);
    transition: 0.3s linear;
}

.navbar_list a:hover::after {
    transform: scaleX(0.5);
}

.navbar, .navbar_list a, .navbar_gabung_server a {
    color: var(--bg);
    font-size: 1rem;
    font-weight: 450;
}

.navbar_gabung_server {
    color: #fff;
    border-radius: 20rem;
    padding: 0.5rem 1rem;
    background: linear-gradient(to right, var(--color), var(--color-gelap));
}

.navbar_gabung_server:hover {
    background: transparent;
    border: 1px solid var(--bg);
    padding: 0.44rem 0.94rem;
}

.navbar_humberger {
    display: none;
    padding-top: 0.5rem;
}

.navbar_close {
    display: none;
}

/* bagian responsivenya */

@media (max-width: 780px) {
    .navbar_list {
        display: none;
    }
    .navbar_humberger {
        display: block;
    }
    .hero {
        display: grid;
    }
    .karakter_azmi {
        display: none;
    }
    .karakter_resta {
        display: none;
    }
}

@media (max-width: 430px) {
    .navbar_gabung_server {
        display: none;
    }
    .karakter_azmi {
        display: none;
    }
    .karakter_resta {
        display: none;
    }
}

/* bagian responsivenya */

.aktif{
    display: grid;
    gap: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    justify-content: center;
    
    .navbar_list {
        display: block;
    }

    .navbar_close {
        display: block;
    }

    .logo {
        margin: auto;
    }

    .navbar_list a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar_humberger {
        display: none;
    }

    .navbar_gabung_server {
        display: block;
    }

    @media (max-width: 430px) {
        .navbar_close {
            padding: 0 10rem;
            display: flex;
            left: 0;
            right: 0;
            margin-left: 17.5rem;
            margin-top: 1rem;
        }

        .navbar_gabung_server {
            display: block;
            margin-left: 14rem;
            margin-right: 14rem;
        }
        .tentang .text_tentang p {
            text-align: right;
            max-width: 2rem;
            padding-top: 1.5rem;
        }
    }
}

/* bagian hero page */

.hero {
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .textnya h1 {
    font-size: 3.5rem;
    color: var(--bg);
    max-width: 45rem;
    line-height: 4rem;
}

.hero .textnya span {
    color: transparent;
    background: linear-gradient(to right, var(--color), var(--color-gelap));
    background-clip: text;
    -webkit-background-clip: text;
}

.hero .textnya p {
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 40rem;
    padding-top: 1.5rem;
}

.onlinestatus {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    justify-content: space-between;
}

.onlinestatus a{
    font-weight: 650;
    color: #35180e;
    border-radius: 20rem;
    padding: 0.5rem 1rem;
    background: linear-gradient(to right, var(--color), var(--color-gelap));
}

.textnya .ip {
    font-weight: 700;
}

.textnya {
    padding-top: 5%;
    padding-left: 7%;
}

.karakter_azmi {
    max-width: 300px;
    margin-right: 10%;
    padding-top: 7%;
}

/* bagian section ke 2 */

.tentang {
    background: linear-gradient(to left, var(--color), var(--color-gelap));
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text_tentang {
    display: grid;
    justify-content: end;
    margin-right: 10%;
}

.tentang .text_tentang h1{
    font-size: 3.5rem;
    color: var(--bg);
    max-width: 45rem;
    line-height: 4rem;
    text-align: right;
}

.tentang .text_tentang span {
    color: #fff;
}

.tentang .text_tentang p {
    text-align: right;
    max-width: 30rem;
    color: #fff;
    padding-top: 1.5rem;
}

.karakter_resta {
    max-width: 300px;
    margin-left: 10%;
    padding-top: 7%;
}

.text_tentang .pindah_text {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-left: 55%;
    padding-top: 1.7rem;
}

.pindah_text i:hover {
    width: 5rem;
}

/* bagian section staff */

.sec_staff {
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(./img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sec_staff h1 {
    color: #35180e;
    text-align: center;
    padding-top: 8%;
    font-size: 2rem;
}

.sec_staff span {
    color: transparent;
    background: linear-gradient(to right, var(--color), var(--color-gelap));
    background-clip: text;
    -webkit-background-clip: text;
}

/* bagian kartu staff */

.sec_staff .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    gap: 7.5rem;
}

.kartu_staff .avatar {
    width: 100px;
}

.kartu_staff {
    width: 12.5rem;
    min-width: none;
    text-align: center;
    line-height: 3rem;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border: 2px solid white;
    border-radius: 10px;
    padding: 1rem 0;
}

.kartu_staff p {
    font-weight: 600;
}

.kartu_staff .jabatan {
    font-weight: 650;
    font-size: 20px;
    color: transparent;
    background: linear-gradient(to right, #f02929, #a01b1b);
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 1rem;
}

.kartu_staff .nick {
    color: white;
    background: linear-gradient(to right, #f02929, #a01b1b);
    padding: 0 3rem;
    .kartu_staff {
        padding: 0 0;
    }
}

/* staff cuy */

.kartu_staff .jabatan_staff {
    font-weight: 650;
    font-size: 20px;
    color: transparent;
    background: linear-gradient(to right, #1d19ff, #c919ff);
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 1rem;
}

.kartu_staff .nick_staff {
    color: white;
    background: linear-gradient(to right, #1d19ff, #c919ff);
    padding: 0 3rem;
    .kartu_staff {
        padding: 0 0;
    }
}

.kartu_staff:hover {
    padding-top: 5rem;
    cursor: pointer;
}
